img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.yahooimg {
   margin-left: auto;
   margin-right: auto;
   height: 50%;
   width: 50%;
}
.googleimg{
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}